@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap");
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
}

p {
    display: none;
}
canvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
